{{#each erros}}

    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar planeta</h3>

<form action="/admin/planetas/edit" method="POST">
    <input type="hidden" name="id" value={{planeta._id}}>
    <label for="nome_planeta">Nome: </label>
    <input type="text" id="nome-planeta" class="form-control" name="nome_planeta" placeholder="nome do planeta" value={{planeta.nome_planeta}}>
    <label for="tam_planeta">Tamanho: </label>
    <input type="number" step="0.001" id="tam-planeta" class="form-control" name="tam_planeta" placeholder="nome do planeta" value={{planeta.tam_planeta}}>
    <label for="massa_planeta">Massa: </label>
    <input type="number" step="0.001" id="massa-planeta" class="form-control" name="massa_planeta" placeholder="nome do planeta" value={{planeta.massa_planeta}}>
    <label for="gravidade_planeta">Gravidade: </label>
    <input type="number" step="0.001" id="gravidade-planeta" class="form-control" name="gravidade_planeta"
        placeholder="nome do planeta" value={{planeta.gravidade_planeta}}>
    <label for="comp-planeta">Composição: </label>
    <input type="text" id="comp_planeta" class="form-control" name="comp_planeta" placeholder="nome do planeta" value={{planeta.comp_planeta}}>
    <button type="submit" class="btn btn-success">Editar Planeta</button>
</form>