<h2>Lista de planetas</h2>

<hr>
<a href="/admin/planetas/add">
    <button class="button btn btn-success">Novo planeta</button>
</a>

{{#each planetas}}
    <div class="card">
        <div class="card-body">
            <h4>Nome: {{nome_planeta}}</h4>
            <p>Raio: {{tam_planeta}} km</p>
            <p>Massa: {{massa_planeta}} kg</p>
            <p>Gravidade: {{gravidade_planeta}} m/s^2</p>
            <p>Elemento mais ambudante: {{comp_planeta}}</p>
            <a href="/admin/planetas/edit/{{_id}}">
                <button class="btn btn-success">Editar</button>
            </a>
            <form action="/admin/planetas/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar</button>
            </form>
        </div>
    </div>
{{else}}
 <h4 class="mt mt-3">Não há nenhum planeta registrado</h4>
{{/each}}